@charset "ISO-8859-1";

#headerNav {
	width: 100vw;
	background-color: #D6EFFF;
}

#headerUl {
	padding: 0;
	display: flex;
}

#headerLiH1 {
	list-style-type: none;
	margin: 0;
}

#headerH1 {
	margin: 0;
	font-size: 27px;
}

#headerLi1 {
	list-style-type: none;
	margin: 0 5vw;
}

#headerLi2 {
	list-style-type: none;
	margin: 0 5vw;
}

#headerLi3 {
	list-style-type: none;
	margin: 0 5vw;
}

#headerLiLogout {
	list-style-type: none;
	margin: 0 5vw;
}

#headerA1 {
	text-decoration: none;
	font-size: 27px;
}

#headerA2 {
	text-decoration: none;
	font-size: 27px;
}

#headerA3 {
	text-decoration: none;
	font-size: 27px;
}

#headerALogout {
	text-decoration: none;
	font-size: 27px;
}